header{
    margin: -22px;
    padding: 0px;
    background: rgb(4,1,47);
    background: linear-gradient(90deg, rgba(4,1,47,1) 0%, rgba(12,22,96,1) 35%, rgba(189,207,210,1) 100%);
    opacity: 0.7;
    background-color: transparent;
    background-repeat: repeat;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 102%;
}

body{
    margin: 0px;
    padding: 0px;
    color: black;
    background-image: url(../img/v1016-a-07.jpg);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    margin-left: 8%;
}

label{
    margin-left: 8%;
    padding-top: 2%;
}

.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button{
      margin-right: 2%;
      margin-left: 17%;
      margin-top: 2%;
  }

  #InputTrianguloLadoDerecho{
    margin-left: 9px;
    margin-bottom: 9px;
  }

  #InputTrianguloLadoIzquierdo{
    margin-bottom: 9px;
  }

  #InputTrianguloBase{
    margin-left: 62px;
    margin-bottom: 9px;
  }

  #InputTrianguloAltura{
    margin-left: 54px;
    margin-bottom: 9px;
  }