body{
    margin: 0px;
    padding: 0px;
    background: aqua;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    margin-left: 5%;
}

label{
    margin-left: 5%;
}

#form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }